@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

:root {
    --primary-color: white;
    --secondary-color: #fbfbfb;
    --highlight-color: #0CCA4A;
    --text-color: #333;

    --dark-primary-color: #000000;
    --dark-secondary-color: #6C5A49;
    --dark-highlight-color: #fca311;
    --dark-text-color: #ffffff;
  }

html {
    background-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--dark-primary-color);
    }
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}