@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

:root {
    --primary-color: #f5f5f5;
    --secondary-color: white;
    --highlight-color: #2F349D;
    --text-color: #333;

    --dark-primary-color: #181b24;
    --dark-secondary-color: #24272D;
    --dark-highlight-color: #F3C969;
    --dark-text-color: #ffffff;
  }

html {
    background-color: var(--primary-color);
    line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--dark-primary-color);
    }
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

#active-modal {
    touch-action: none;
}